<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.userMapper">
  <resultMap id="BaseResultMap" type="com.pxxy.pojo.user">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="user_level" jdbcType="VARCHAR" property="userLevel" />
    <result column="user_creattime" jdbcType="VARCHAR" property="userCreattime" />
    <result column="user_modifytime" jdbcType="VARCHAR" property="userModifytime" />
    <result column="user_isdelete" jdbcType="VARCHAR" property="userIsdelete" />
  </resultMap>
  
  <resultMap id="UserResultMap" type="com.pxxy.DTO.PostUserDTO">
    <collection property="userList" ofType="com.pxxy.pojo.user">
    	<id column="user_id" jdbcType="VARCHAR" property="userId" />
	    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
	    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
	    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
	    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
	    <result column="user_level" jdbcType="VARCHAR" property="userLevel" />
	    <result column="user_creattime" jdbcType="VARCHAR" property="userCreattime" />
	    <result column="user_modifytime" jdbcType="VARCHAR" property="userModifytime" />
	    <result column="user_isdelete" jdbcType="VARCHAR" property="userIsdelete" />
    </collection>
  </resultMap>
  
  <select id="queryAllUser"  resultMap="UserResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_isdelete = '0' OR user_isdelete = '1'
  </select>
  
   <select id="queryAllUserFY"  resultMap="UserResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_isdelete = '0' OR user_isdelete = '1' ORDER BY user_id DESC LIMIT #{preNum},#{pageSize}
  </select>
  
  <select id="queryUserBykw" resultMap="UserResultMap">
  	select 
    <include refid="Base_Column_List" />
    from user
    where user_nickname LIKE CONCAT('%', #{userNickname}, '%') 
    AND (user_isdelete = '0' OR user_isdelete = '1')
  </select>
  
  
  <sql id="Base_Column_List">
    user_id, user_email, user_password, user_nickname, user_gender, user_level, user_creattime, 
    user_modifytime, user_isdelete
  </sql>
  <select id="queryByUserEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_email = #{userEmail,jdbcType=VARCHAR}
  </select>
  
  <select id="queryByManaUserEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_email = #{userEmail,jdbcType=VARCHAR} and user_isdelete = '9'
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pxxy.pojo.user">
    insert into user (user_id, user_email, user_password, 
      user_nickname, user_gender, user_level, 
      user_creattime, user_modifytime, user_isdelete
      )
    values (#{userId,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{userGender,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, 
      #{userCreattime,jdbcType=VARCHAR}, #{userModifytime,jdbcType=VARCHAR}, #{userIsdelete,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pxxy.pojo.user">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="userCreattime != null">
        user_creattime,
      </if>
      <if test="userModifytime != null">
        user_modifytime,
      </if>
      <if test="userIsdelete != null">
        user_isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userCreattime != null">
        #{userCreattime,jdbcType=VARCHAR},
      </if>
      <if test="userModifytime != null">
        #{userModifytime,jdbcType=VARCHAR},
      </if>
      <if test="userIsdelete != null">
        #{userIsdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pxxy.pojo.user">
    update user
    <set>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userCreattime != null">
        user_creattime = #{userCreattime,jdbcType=VARCHAR},
      </if>
      <if test="userModifytime != null">
        user_modifytime = #{userModifytime,jdbcType=VARCHAR},
      </if>
      <if test="userIsdelete != null">
        user_isdelete = #{userIsdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxxy.pojo.user">
    update user
    set user_email = #{userEmail,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=VARCHAR},
      user_creattime = #{userCreattime,jdbcType=VARCHAR},
      user_modifytime = #{userModifytime,jdbcType=VARCHAR},
      user_isdelete = #{userIsdelete,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>